<!-- Header -->
<div
  class="navbar bg-base-100 flex w-full justify-between px-[20px] md:px-[40px] lg:px-[112px] xl:px-[112px] 2xl:px-[112px] bg-transparent"
>
  <div class="w-[100px] flex justify-center items-center">
    <div class="cursor-pointer flex gap-2" [routerLink]="['/']">
      <!-- <mat-icon class="transform scale-600" svgIcon="logo-raymo"></mat-icon> -->

      <!-- <mat-icon class="transform scale-200" svgIcon="logo-rayna2"></mat-icon> -->
      <!-- <mat-icon class="transform scale-400" svgIcon="logo-mono4"></mat-icon> -->
      <!-- <mat-icon class="transform scale-600" svgIcon="logo-rayna"></mat-icon> -->
      <img
        src="assets/image/mono4-high-resolution-logo-white-transparent.png"
      />
    </div>
  </div>

  <div class="p-0">
    <ul class="menu menu-horizontal px-1">
      <li><a class="font-medium">Login / Sign up</a></li>
    </ul>
  </div>
</div>
