<div class="hero h-[320px]">
  <div class="hero-content text-center text-neutral-content text-slate-100">
    <div class="w-fit">
      <div class="w-full flex flex-col items-start gap-2">
        <h1 class="mb-5 text-5xl font-bold leading-20 tracking-wider">
          Up to 60% off on all items
        </h1>
        <h1 class="mb-5 text-5xl font-bold leading-20 tracking-wider">
          till September 11
        </h1>

        <!-- <p class="mb-5 text-slate-300">
          Transforming your hotel rooms into a hub of entertainment and
          convenience.
        </p> -->

        <!-- <button
          class="rounded-md btn bg-violet-600 hover:bg-violet-700 border-violet-600 text-violet-100 w-fit"
        >
          Explore our product
        </button> -->
      </div>
    </div>
  </div>
</div>
